#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

h4 {
  background: #005eaa;
  padding: 1rem;
  color: #fff;
}

.section-wrapper {
  display: flex;
  margin: 2rem 0rem;
}

.section-left {
  display: flex;
  width: 700px;
  height: 400px;
}

.section-right {
  display: flex;
  width: 216px;
  margin-left: -3rem;
  margin-top: 2rem;
}

.section-left-cove {
  width: 450px;
  margin-left: 3rem;
}

.section-right-cove {
  top: 12rem;
  right: 1rem;
  width: 46vw;
}

.section-right.section-right-rechart-bar {
  margin-top: 0;
  width: 28vw;
  margin-left: -3.25rem;
}

.section-wrapper.section-wrapper-rechart-pie {
  margin-top: -0.5rem;
}

b {
  display: contents;
}

.section-wrapper-nivo-bar {
  margin-top: -1rem;
}

.section-wrapper-nivo-pie .section-right {
  margin-top: 0.5rem;
}
